[Desktop Entry]
Name=Anarchy Installer
Comment=Install Anarchy Linux with Hyprland
Exec=/usr/local/bin/anarchy-gui
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;
Keywords=arch;linux;install;hyprland;
StartupNotify=true
